* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  max-width: 520px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px, max-content);
}
.box p {
  margin: 0px;
}
ul.nav {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-gap: 0.5em;
  list-style-type: none;
  justify-content: center;
  padding: 0px;
}
